
<button ng-click="showPopup = true">{{labelButton}}</button>
<div ng-show="showPopup">
	<div class="popup-overlay" ng-click="showPopup = false" role="button" tabindex="0"></div>
	<div  class="merge-popup" >
		<div ng-show="dataid || tableid ">
			<div><a ng-show="dataLength>0 && currentIndex>0" ng-click="previous()"> < </a> {{current[5]}} <a ng-show="dataLength>0 && currentIndex<dataLength-1"  ng-click="next()"> > </a></div>
			<div ng-show="dataLength>0">{{currentIndex+1}} of {{dataLength}}</div>
		</div>
		<div style="float:left;width:50%">
			<div class="email" ng-show="sendEmail">

				<div>
				<span>Other information:</span>
					<div id="form"></div>
				</div>

				<div ng-show="!sendhtml">
				<span>Email Body</span>
					<textarea ng-change="update()" ng-model="mailMerge.email.text"  rows="5" cols="50">						
					</textarea>
				</div>
			</div>

			<div ng-show="dataid || tableid ">
					<textarea ng-change="parseCSV()" ng-model="csvData" id="{{dataid}}" rows="5" cols="50">
					</textarea>
			</div>

			<div ng-show="mailMerge.doc.outputpdf">
				<div>
					<input bs-switch ng-model="attachpdf" type="checkbox"  switch-size="mini" ng-true-value="true" ng-false-value="false"   switch-on-text="Yes" switch-off-text="No">  Attach below document to the message?
				</div>

			
				<div id="doc_preview"></div>
				<div id="doc-temp" ng-hide="true"></div>
			</div>

			<div ng-if="tableid ">
				<table id="{{tableid}}">
				    <thead>
				        <tr>
				            <th>To</th>
				            <th>CC</th>
				            <th>BCC</th>
				            <th>Subject</th>
				            <th>code</th>
				            <th>name</th>
				            <th>date</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>wengjiahong@gmail.com</td>
				            <td>aa</td>
				            <td>tommy</td>
				            <td>subject1</td>
				            <td>cus1</td>
				            <td>mike</td>
				            <td>2016-07-15</td>
				        </tr>
				        <tr>
				            <td>jack@gmail.com</td>
				            <td>ivy</td>
				            <td></td>
				            <td>subject1</td>
				            <td>cus2</td>
				            <td>jack</td>
				            <td>2016-07-15</td>
				        </tr>
				        <tr>
				            <td>ivy@gmail.com</td>
				            <td>cc</td>
				            <td></td>
				            <td>subject1</td>
				            <td>cus3</td>
				            <td>ivy</td>
				            <td>2016-07-15</td>
				        </tr>
				        <tr>
				            <td>tommy@gmail.com</td>
				            <td>dd</td>
				            <td>ivy</td>
				            <td>subject1</td>
				            <td>cus4</td>
				            <td>tommy</td>
				            <td>2016-07-16</td>
				        </tr>
				        
				    </tbody>
</table>

			</div>

			<button ng-click="sendMessage()">{{labelButtonPopup}}</button>

		</div>

		<div ng-show="sendEmail">
			<span>{{previewText}}</span>
			<div>
				To {{merge.email.to}}
			 </div>
			 <div>
			 CC  {{merge.email.cc}}
			 </div>
			 <div>
			 BCC {{merge.email.bcc}}
			 </div>
			 <div>
			 Subject {{merge.email.subject}}
			 </div>
			 <div ng-show="sendhtml">
			 	<div ng-hide="edit" ng-click="edit = true " style="
			 	color:rgb(66,133,244)">
					View Email source
			 	</div>

			 	<div ng-show="edit" ng-click="edit = false;refresh()" style="
			 	color:rgb(66,133,244)">
			 		 View Email
			 	</div>

			 	<textarea ng-change="refresh()" ng-model="mailMerge.email.html" ng-show="edit" id="data_row" rows="5" cols="50">						
				</textarea>

				<div id="html_preview"></div>
			 	<div id="email-temp" ng-hide="true"></div>
			 </div>
			 
			 <div ng-show="!sendhtml">
				<div id="text_preview"></div>
			 </div>
		</div>

		 
	</div>
</div>